// Filmotype Fashion
@font-face {
  font-family: 'Filmotype Fashion';
  src: url('https://cdn.astronomer.io/app/fonts/filmotype/filmotype.eot');
  src: url('https://cdn.astronomer.io/app/fonts/filmotype/filmotype.eot?#iefix') format('embedded-opentype'),url('https://cdn.astronomer.io/app/fonts/filmotype/filmotype.woff2') format('woff2'),url('https://cdn.astronomer.io/app/fonts/filmotype/filmotype.woff') format('woff'),url('https://cdn.astronomer.io/app/fonts/filmotype/filmotype.ttf') format('truetype')
}
// Sofia Pro

@font-face{
    font-family:"Sofia Light";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/8d11b8a0-868c-4a53-8b26-9f0ccbd58247.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/9b976f15-23b7-45cd-ad4b-59c95b2889f9.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/864da3de-5a97-4ce6-a22b-22932ed4dfe0.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d5898683-1b2a-4b1b-8058-0c8db30e40cf.svg#d5898683-1b2a-4b1b-8058-0c8db30e40cf") format("svg");
}
@font-face{
    font-family:"Sofia Light Italic";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/9b4837d6-e74a-44ef-a6c4-6b35a90a3702.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/9b4837d6-e74a-44ef-a6c4-6b35a90a3702.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/9be1eedf-69e4-4b70-ba74-3b23121fde9c.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/461e0a9e-689d-4609-bd34-f2316740e199.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/ab9ca33b-f66e-4aaf-8370-a2cd16af4072.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d7142d94-d827-4eb5-b479-359ac2ebc205.svg#d7142d94-d827-4eb5-b479-359ac2ebc205") format("svg");
}
@font-face{
    font-family:"Sofia Regular";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/8b31e0d7-5f53-45c2-b318-064f0b532543.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/476fe015-ab32-40a2-8fed-0a5af9a3bba4.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d8bcfa37-4f93-49cf-8dea-c29e894af58e.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/28fc42bb-8761-4e6a-8c62-65d4a41c9e33.svg#28fc42bb-8761-4e6a-8c62-65d4a41c9e33") format("svg");
}
@font-face{
    font-family:"Sofia Regular Italic";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/addba733-2fd3-4151-adf4-d0b563dc6517.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/addba733-2fd3-4151-adf4-d0b563dc6517.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/87cd0dd6-3e8b-46f1-b677-ab7644ea015e.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/90682d0e-e5df-4a2e-a2ff-6899b8ae8e4b.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d1a6f359-b96c-43fd-87af-85f9762a4ecf.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/6cc18d90-baae-43d6-9b7e-e778cb8c630f.svg#6cc18d90-baae-43d6-9b7e-e778cb8c630f") format("svg");
}
@font-face{
    font-family:"Sofia Medium";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/fe0b48dd-7bb4-4787-913d-eaf613373f35.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d493595c-97d2-4edc-bc9a-c09ad13b4913.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/449bb77f-1bc7-4956-a8f1-3d4ae9243a59.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/1332b505-18f0-4aa5-ba55-9be49eba8fb5.svg#1332b505-18f0-4aa5-ba55-9be49eba8fb5") format("svg");
}
@font-face{
    font-family:"Sofia Medium Italic";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/877f3b67-be6a-461d-a5a6-809160a59cd8.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/877f3b67-be6a-461d-a5a6-809160a59cd8.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/9da6ce88-4609-46ec-b6a3-9e8a69f8d053.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/44cb396c-a0d9-43f0-a13f-bad6bd335656.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/aeb7ae09-586c-4808-bada-216d01ed5ec7.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/f6759ecb-5f45-4a67-a026-db1db3e2c8d0.svg#f6759ecb-5f45-4a67-a026-db1db3e2c8d0") format("svg");
}
@font-face{
    font-family:"Sofia Semi Bold";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/e488d96e-1d10-41aa-a2a0-8cb7cc0a54a8.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/e488d96e-1d10-41aa-a2a0-8cb7cc0a54a8.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/20755c49-19b5-4792-aaf3-27f6b048149a.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/7cdc9309-dc21-43e2-a348-c6e3853fe8a9.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/fe0fe0a1-32b6-4795-80da-fb446ac9d5ea.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d7a947d1-755b-4774-a917-036acd235435.svg#d7a947d1-755b-4774-a917-036acd235435") format("svg");
}
@font-face{
    font-family:"Sofia Semi Bold Italic";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/6158ec61-bf1b-4bd7-9dda-df9045c9c986.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/6158ec61-bf1b-4bd7-9dda-df9045c9c986.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/e03d67b8-21d1-471a-a052-5450498e2851.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/7e254ac6-68c1-4462-b775-f4064eea9be4.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/3e17b546-0789-4b1e-b570-6590b98e9700.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/002ad5e0-12e8-474c-95bd-1e7ae9cea0d4.svg#002ad5e0-12e8-474c-95bd-1e7ae9cea0d4") format("svg");
}
@font-face{
    font-family:"Sofia Bold";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/c2440dd8-b25c-49ba-bc04-8a638a943324.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/c2440dd8-b25c-49ba-bc04-8a638a943324.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/80042803-0630-405f-b2d2-af97b4e50b46.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/ec41d681-0313-4b04-88c0-820aebb51f4e.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/81434fc3-e426-4a4c-987d-f25c098198c4.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/59fd3475-fba9-4c77-94f9-959fd3925e06.svg#59fd3475-fba9-4c77-94f9-959fd3925e06") format("svg");
}
@font-face{
    font-family:"Sofia Bold Italic";
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/0b2112bc-4fb7-4a37-8c55-1e5848431681.eot");
    src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/0b2112bc-4fb7-4a37-8c55-1e5848431681.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/27f146af-7709-44d9-8b45-d09866bec59f.woff2") format("woff2"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/5f085bad-f484-4825-8686-d347df989cf2.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/a1133ba8-2dbc-4877-b3bc-b9a3a44652ba.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/e37199b8-7efe-4da4-bb3c-9a415c519b57.svg#e37199b8-7efe-4da4-bb3c-9a415c519b57") format("svg");
}

.summary {
    color: #808080;
    border-left: 5px solid #f4362c;
    font-size:16px;
}


h3 {color: #f4362c; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #302c43;
    color: white;
}

.nav > li.active > a {
    background-color: #302c43;
}

.nav > li > a:hover {
    background-color: #302c43;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #069dac;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #302c43;
    border-color: #015CAE;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #302c43;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #302c43;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #302c43 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #302c43;
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #302c43;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #302c43;
    border-color: #302c43;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #f4362c !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #f4362c;
    margin-bottom:10px;
    margin-left: 5px;

}


.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #302c43;
}

.navbar-inverse .navbar-toggle {
    border-color: #302c43;
}

#search-demo-container ul#results-container {
    border: 1px solid #aaa;
}