<footer>
  <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Astronomer snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.astronomer.io/analytics.js/v1/"+t+"/"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
  analytics.load("tKxWJZiGTYgskKwEduC6D");
  analytics.page()
  }}();
  </script>
  <div class="row">
      <div class="col-xs-12 footer">
          <div class="col-xs-12 col-sm-2" style="text-align: center;">
            <img style="width: 75px;" src="{{ "images/AWithStars.svg" | relative_url }}" alt="Company logo"/>
          </div>
          <div class="col-xs-12 col-sm-10">
            <p style="padding: 20px;">
              &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.<br/>
              {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
            </p>
          </div>
      </div>
  </div>
</footer>
